
.chooser {
  position: fixed;
  font-size: 18px;
  top: 1rem;
  right: 1rem;
  width: 10em !important;
  line-height: 1 !important;
}

.chooser div {
  cursor: pointer;
}


html.pigeon {
  @import (multiple) 'pigeon';
}

html.pigeon-inverted {
  @import (multiple) 'pigeon_inverted.less';
}

html.pigeon-taxi {
  @import (multiple) 'pigeon_taxi';
}

html.raven {
  @import (multiple) 'raven';
}

html.raven-celtic {
  @import (multiple) 'raven_celtic';
}

html.raven-coldshoulder {
  @import (multiple) 'raven_coldshoulder';
}

html.raven-ebony {
  @import (multiple) 'raven_ebony';
}

html.raven-goldrush {
  @import (multiple) 'raven_goldrush';
}

html.raven-inverted {
  @import (multiple) 'raven_inverted';
}

html.toucan {
  @import (multiple) 'toucan';
}

html.heron {
  @import (multiple) 'heron';
}

html.heron-greenland {
  @import (multiple) 'heron_greenland';
}

html.heron-tongue {
  @import (multiple) 'heron_tongue';
}

