
.chooser {
  position: fixed;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  top: 0;
  left: 0;
  line-height: 1 !important;
  padding: 0.5em;
  padding-top: 0;
  background: white;
  user-select: none;
  box-shadow: 1px 1px 6px #333;
}

.chooser .drag {
  height: 1em;
  cursor: move;
}

.chooser .theme {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.chooser .theme svg {
  display: block;
  width: 2em;
  height: 2em;
}

.chooser .swatch {
  cursor: pointer;
  height: 2em;
  width: 2em;
  margin: 0.2em;
  border-radius: 0.2em;
  border: 1px solid #999;
}

.chooser .swatch.basic {
  margin-left: 2.2em;
}



.swatch.basic {
  @import (reference) 'basic/index.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.basic {
  @import (multiple) 'basic/index.less';
}


.swatch.pigeon {
  @import (reference) 'pigeon/index.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.pigeon {
  @import (multiple) 'pigeon/index.less';
}


.swatch.pigeon.inverted {
  @import (reference) 'pigeon/inverted.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.pigeon.inverted {
  @import (multiple) 'pigeon/inverted.less';
}


.swatch.pigeon.taxi {
  @import (reference) 'pigeon/taxi.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.pigeon.taxi {
  @import (multiple) 'pigeon/taxi.less';
}


.swatch.raven {
  @import (reference) 'raven/index.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.raven {
  @import (multiple) 'raven/index.less';
}


.swatch.raven.celtic {
  @import (reference) 'raven/celtic.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.raven.celtic {
  @import (multiple) 'raven/celtic.less';
}


.swatch.raven.coldshoulder {
  @import (reference) 'raven/coldshoulder.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.raven.coldshoulder {
  @import (multiple) 'raven/coldshoulder.less';
}


.swatch.raven.ebony {
  @import (reference) 'raven/ebony.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.raven.ebony {
  @import (multiple) 'raven/ebony.less';
}


.swatch.raven.goldrush {
  @import (reference) 'raven/goldrush.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.raven.goldrush {
  @import (multiple) 'raven/goldrush.less';
}


.swatch.raven.inverted {
  @import (reference) 'raven/inverted.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.raven.inverted {
  @import (multiple) 'raven/inverted.less';
}


.swatch.toucan {
  @import (reference) 'toucan/index.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.toucan {
  @import (multiple) 'toucan/index.less';
}


.swatch.heron {
  @import (reference) 'heron/index.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.heron {
  @import (multiple) 'heron/index.less';
}


.swatch.heron.greenland {
  @import (reference) 'heron/greenland.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.heron.greenland {
  @import (multiple) 'heron/greenland.less';
}


.swatch.heron.cherry {
  @import (reference) 'heron/cherry.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.heron.cherry {
  @import (multiple) 'heron/cherry.less';
}


.swatch.heron.cyan {
  @import (reference) 'heron/cyan.less';
  background: @bodyBackgroundColor;
  color: @bodyFontColor;
}
html.heron.cyan {
  @import (multiple) 'heron/cyan.less';
}


