@sans: "stevie-sans", Helvetica, Arial, sans-serif; 
@serif: "adobe-text-pro", Georgia, Times, "Times New Roman", serif;

@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

@media @mobile     { html { font-size: 15px; } }
@media @tablet     { html { font-size: 16px; } }
@media @desktop    { html { font-size: 18px; } }
@media @desktop-xl { html { font-size: 20px; } }


body {
  font-family: @serif;
  line-height: 1.2;
  color: #0D040F ;
  background-color: #eee;
}


/* headers */

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.date,
.sidebar, {
  font-family: @sans;
  margin: 1rem;
}

h1 { 
  font-size: 2.986em;
}

h2 { 
  font-size: 2.488em; 
}

h3 { 
  font-size: 2.074em; 
}     

h4 { 
  font-size: 1.728em; 
}   

h5 {
  font-size: 1.440em;
}

h6 {
  font-size: 1.200em;
}



/* paragraph */

p {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.5;
  margin: auto;
  max-width: 600px;
  margin-bottom: 1.2em;
  font-family: @serif ,serif;
}

.left p,
p.left {
  margin-left: 0;
}

.right p,
p.right {
  margin-right: 0;
}


/* article header  */

.date,
.byline, {
  margin-bottom: .5em;
  margin-top: 0;
}

.byline:before { 
  content: "By "; 
  font-weight:bold; 
}

.byline {
  font-family: sans-serif;
  font-weight: lighter;
}

.date {
  font-weight: lighter;
}


/* article body elements  */

.credit,
.caption {
  color: grey;
  font-size: .9em;
}

.credit { 
  text-transform: uppercase;
}
  
.citation {
  font-style: italic;
}

.section-start{
  margin-top: 4em;
}

.drop-cap {
  float: left;
  font-size: 6em;
  padding-right: .05em;
  display: inline-block;
  line-height: .75;
}

blockquote {
  font: @serif;
  font-style: italic;  
  padding-left: .7em;
  padding-top: 1.2em;
  padding-bottom: 1.4em;
  border-left: 2px solid grey;
  text-indent: .5em;
  max-width: 600px;
  margin: auto;
  margin-left: 20.5%;
}

/* pull-quote and sidebar for mobile */ 
@media (max-width: 700px) {
  .pull-quote,
  .sidebar {
    width: 100%;
    max-width: 37.5em;
    margin: 0 auto;
  }
  .sidebar {
    border: 0.125em solid grey; 
  }
}

.pull-quote {
  margin-right: 0;
  padding: .2em;
  margin: 0em 0 0 0em;
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 600px;
  float: right;
}

 /* sidebar */
.sidebar { 
  float: right;
  margin: 20px;
  margin-left: 10px; 
  margin-right: 5%;
  text-align: left;
  display: block;
  border: 2px solid grey; 
  max-width: 300px;
  width: 270px;
  font-size: .8em;
  padding: 10px;  
  font-family: @sans;
}


/* links  */

a {
  color: #D9382D;
  font-weight: bold; 
}

a:hover {
  color: green;
}

a:visited {
  color: grey;
}


/* lists charts */

ol {
  max-width: 600px;
  margin: auto;
  padding: 0;
  counter-reset: item;
  list-style: ;
  padding-left: 1em;
  padding-right: 1em;
}

ul {
  max-width: 600px; 
  margin: auto;
  padding: 0 0 0 1em ; 
  font-family: "Times New Roman", @serif;
  font-size: 1.12em;
  padding-left: 2em;
  padding-right: 1em;
}


/* recyclable elements  */

.xl {
  font-size: 1.5em;
}
.xxl {
  font-size: 2em;
}
.justify {
  text-align: justify;
}  
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.serif {
  font-family: @serif;
}
.sans {
  font-family: @sans;
}
.center {
  margin: auto;
}

.light {
  font-weight: 200;
}

.margin-zero {
  margin: 0;
}

/* fonts */ 

/*
.lighter {  
  font-weight: lighter;
}

.light {
  font-weight: 400;
}

.normal {
  font-weight: normal;
}

.bolder {
  font-weight: bolder;
}

*/

/* images */

@media (max-width: 700px) { 
  figure.left, 
  figure.right {
    width: 100%;
    margin: auto; 
  } 
}

@media (min-width: 701px) {

  figure.left,
  figure.right {
    width: 40%;

  }

  figure.left {
    float: left;
    margin: 0 1em;
  }

  figure.right {
    float: right;
    margin: 0 1em;
  }

}

@media (min-width: 1400px) {

  figure.left {
    margin-left: 10%;
  }

  figure.right {
    margin-right: 10%;
  }
}

