@sans: "Helvetica Neue", Helvetica, Arial, sans-serif; 
@serif: Georgia, Times, "Times New Roman", serif;
/* add 4-5  breakpoints with arrying font-size  */
@media (max-width: 700px) { 
  html {
    font-size:48px !important;
  }
}
@media (max-width: 900px) { 
  html {
    font-size: 12px !important;
  }
}
@media (max-width: 1440px) { 
  html {
    font-size: 18px !important;
  }
}
@media (max-width: 1920px) { 
  html {
    font-size: 22px !important;
  }
}
html {
  background-color: #eee !important;
}
html,
body {
  min-height: 100vh;
}
body {
  max-width: 900px;  
  background-color: #eee !important;  
  margin: auto;
}
html body {
  font-family: @serif;
  line-height: 1.2;
  text-color: #0D040F ;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}

/* headers */
h1 { 
  font-size: 2.618em; 
}

h2 { 
  font-size: 1.618em; 
}

h3 { 
  font-size: 1.000em; 
}     

h4 { 
  font-size: 0.618em; 
}   

.xl {
  font-size: 1.520em;
}

.xxl {
  font-size: 2.350em;
}

p {
  text-align: left;
  line-height: 1.5;
  margin: 1.5em auto;
  max-width: 600px;
}
a {
  color: #260631;
  font-weight: bold; 
}

/* article head  */
.headline { 
  font-family: @sans;
  font-variant: bold;
  font-size: 3em;
  margin-bottom: 0em ;
}
.subheading {
  font-family: @sans;
  font-style: italic;
  margin-bottom: .5em;
  margin-top: 0em;
}
.byline:before{ 
  content: "by:"; 
  font-weight:bold; 
}
.byline {
  font-family: sans-serif;
  margin-bottom: .5em;
  margin-top: 0em;
  font-weight: lighter;
}
.date:before {
  content:"published on:"; 
  font-weight:bold; 
}
.date {
  font-family: @sans;
  margin-bottom: .5em;
  margin-top: 0em;
  font-weight: lighter;
}

/* lists  */
ol {
  text-align: left;
  max-width: 600px;
  margin: auto;
  padding: 0;
  counter-reset: item;
  list-style: none;
}
  ol li {
    counter-increment: item;
  }
  ol li:before {
    font-family: Times, "Times New Roman", serif;
    font-size: 1.12em;
    margin-right: 10px;
    content: counter(item) '.';
    display: inline-block;
  }
ul {
  text-align: left;
  max-width: 600px; 
  margin: auto;
  padding: 0 0 0 1em ; 
  font-family: "Times New Roman", @serif;
  font-size: 1.12em;
}

/* article body elements  */
.dropcap {
  float: left;
  font-size: 6em;
  padding-right: .05em;
  display: inline-block;
  line-height: .75;
}
.pullquote {
  margin-right: 0;
  font-size: 1.2em;
  line-height: 1.5;
}
blockquote {
  font: @serif;
  font-style: italic;  
  padding-left: .7em;
  padding-top: 1.2em;
  padding-bottom: 1.4em;
  border-left: 2px solid grey;
  text-indent: .5em;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.credit {
  color: grey;
  font-size: .9em;
  text-transform: uppercase;
}
.caption {
  color: grey;
  font-size: .9em;
}
.citation {
  font-style: italic;
}
.section-start{
  margin-top: 4em;
}

/* sidebar  */
.sidebar { 
  float: right;
  margin: 20px;
  margin-right: 0;
  text-align: left;
  display: block;
  border: 2px solid grey; 
  max-width: 300px;
  font-size: .8em;
  padding: 10px;  
}
.right {
  margin-right: 0;
}
.left {
  margin-left: 0;
}
.justify{
  text-align: justify;
}  
.italic {
  font-style: italic;
}
.sidebar-sans { 
  font-family: @sans;
}
.sidebar-left { 
  text-align: left;
  display: block;
  border: 2px solid grey; 
  max-width: 300px;
  font-size: .8em;
  margin: auto;
  padding: 9px;
  text-align: left;  


}
.sidebar-right { 
  margin-right: 0;
  text-align: left;
  display: block;
  border: 2px solid grey; 
  max-width: 300px;
  font-size: .8em;
  padding: 9px;
  text-align: left;  

}
/* floats */
.flush-left{
  margin-left: 0;
}
.flush-right{
  margin-right:0;
}
img.float-left {
  float:left; 
  margin: 1em, 0;
}
img.float-right {
  float:right; 
  margin: 1em, 0;
}

/* images */
figure.image.half {
  transform: scale(0.5);
}
figure.image{
}
/*
  background:linear-gradient(to right, #D2FF43  0%, #0DD6FF 80%);
  background-color: #D2FF43;
  border: 1px solid silver;
div.text-on-light{
  color: #260631;
  font-size: 2.618em;
  font-family: @sans;
  position: absolute;
  width: 100%;
  top:300

}
.h1-text-on-dark{
  color: #eee;
  font-size: 2.618em;
  font-family: @sans; 
  position: absolute;
}
/* div.gallery{ */
/*   display: flex; */
/*   flex: row wrap; */
/* } */

/* div.gallery figure { */
/*   flex: 1 1 33%; */
/*   margin: 1em; */
/* } */
