@import 'pigeon/variables.less';

@bodyFont: "adobe-text-pro", Georgia, Times, "Times New Roman", serif;
@headingFont: "stevie-sans", Helvetica, Arial, sans-serif; 

@headerFontColor: white;
@bodyFontColor: white;
@bodyBackgroundColor: grey;

@pullQuoteColor: ;

@import 'pigeon/override.less';

