<span class="share-menu">
  <span class=border>
    {{>  share_icon }}
  </span>
  <span class="options">
    <svg class=arrow preserveAspectRatio="none" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <polygon points="0,100 100,100 50,0"/>
  </svg>
  {{{  twitter  }}}
  {{{  facebook  }}}
  {{{  email  }}}
  </span>
</span>
