@import "../lib/_index.less";

.byline:before { 
  content: "By "; 
  font-weight: bold; 
}

.byline {
  font-family: @headerFont;
  font-weight: 200;
}

.date {
  font-weight: 200;
}

.dropcap {
  float: left;
  font-family: @headerFont;
  font-size: 5.5rem;
  margin: .01em;
  margin-left: -1%;
  padding: 0;
  padding-right: .05em;
  display: inline-block;
  line-height: .75;
  color: @headerFontColor;
}

.tallblock {
  font-size: 8em;
  margin-left: 1.5em;  
  vertical-align: bottom;

  background-color: @headerFontColor;
  float: none;
  font-family: @headerFont;
  padding: .5em;
  display: inline-block;
  line-height: .75;
  color: @bodyBackgroundColor;
}

.halftallblock {
  font-size: 8em;
  margin-left: 1.5em;  
  vertical-align: bottom;

  background-color: @headerFontColor;
  float: none;
  font-family: @headerFont;
  padding: .5em .5em 0 .5em;
  display: inline-block;
  line-height: .75;
  color: @bodyBackgroundColor;
}
.spaceblock {
  font-size: 2em;
  margin-top: .15em;  
  margin-bottom: 20%;  
  margin-right: 2em;  

  background-color: @headerFontColor;
  float: left;
  font-family: @headerFont;
  padding: .5em;
  display: inline-block;
  line-height: .75;
  color: @bodyBackgroundColor;
}

.spacious {
  font-size: 2em;
  margin-top: .15em;  
  margin-bottom: 20%;  
  margin-right: 2em;  

  float: left;
  font-family: @headerFont;
  padding-right: .05em;
  display: inline-block;
  line-height: .75;
  color: @headerFontColor;
}

.two-lines {
  font-size: 3.6rem;
}

.outstanding { 
  font-size: 7em;
  margin: .1em 5% 3% -13%;
}

.thin { 
  font-size: 9.5em;
  transform: scaleX(0.5);
  margin: 0 -.1em -.05em -18%;
}


