@import '../basic/_variables';

@font: "adobe-text-pro", Georgia, Times, "Times New Roman", serif;
@textWidth: 30rem;
@lineHeight: 1.2;

@headerFont: "stevie-sans", Helvetica Neue, Helvetica, Arial, sans-serif; 

