@import "_variables";

@fontColor: hsl(300, 80%, 10%);
@backgroundColor: hsl(65, 90%, 85%);

@captionColor: grey;
@photoCreditColor: grey;
@stripedTableColor: #ccc;
@selectionColor: hsl(220, 60%, 80%);


@anchorColor: hsl(0, 100%, 25%);
@anchorHoverColor: hsl(0, 100%, 55%);
@anchorVisitedColor: grey;

@codeBackgroundColor: white;


// pigeon specific

@pullquoteColor: hsl(40, 90%, 50%);


@import "_styles";

.dropcap {
  color: hsl(40, 100%, 60%);
}

