@import "_variables";

//colors
@headerFontColor: hsl(00, 90%, 10%);
@bodyFontColor: hsl(300, 80%, 10%);
@bodyBackgroundColor: hsl(300, 100%, 45%);


@dropCapFontColor: hsl(40, 100%, 60%);

@blockquoteFontStyle: normal;
@blockquoteBorderLeft: 6px groove hsl(290, 80%, 90%);
@blockquoteColor: hsl(290, 50%, 10%);

@pullQuoteColor: hsl(240, 100%, 40%);

@anchorColor: hsl(0, 100%, 25%);
@anchorHoverColor: hsl(0, 100%, 55%);
@anchorVisitedColor: grey;

@import "_styles";

