@import '_variables';

@fontColor: hsl(240, 50%, 10%);
@backgroundColor: hsl(0, 0%, 92%);

@captionColor: black;
@photoCreditColor: black;
@stripedTableColor: #ccc;
@selectionColor: hsl(220, 60%, 80%);

@anchorColor: hsl(300, 100%, 25%);
@anchorHoverColor: hsl(300, 100%, 55%);
@anchorVisitedColor: grey;

@codeBackgroundColor: white;

// pigeon specific

@pullquoteColor: hsl(200, 70%, 30%);


@import '_styles';
