@import '_variables';

@fontColor: #eee;
@backgroundColor: #555;

@captionColor: black;
@photoCreditColor: black;
// fixme
@stripedTableColor: hsl(0, 50%, 40%);
@selectionColor: hsl(220, 60%, 80%);

@anchorColor: hsl(40, 80%, 60%);
// fixme
@anchorHoverColor: hsl(300, 100%, 55%);
// fixme too prominent
@anchorVisitedColor: hsl(300, 100%, 25%);

@codeBackgroundColor: white;


// pigeon specific

@pullquoteColor: hsl(40, 80%, 60%);


@import '_styles';

