@import '_variables';

@fontColor: white;
@backgroundColor: grey;

@captionColor: ;
@photoCreditColor: ;
// fixme
@stripedTableColor: #ccc;
// fixme
@selectionColor: ;

@anchorColor: hsl(300, 100%, 25%);
// fixme remarkably pink... (also difficult to read)
@anchorHoverColor: hsl(300, 100%, 55%);
// fixme completely invisible !! :(
@anchorVisitedColor: grey;

// fixme
@codeBackgroundColor: ;

// pigeon specific

// fixme very blue...
@pullquoteColor: hsl(240, 100%, 40%);


@import '_styles';

