@import '_variables';

@bodyFontColor: hsl(240, 50%, 15%);
@bodyBackgroundColor: hsl(50, 090%, 50%);
@headerFontColor: hsl(240, 50%, 15%);

@captionColor: grey;
@photoCreditColor: grey;
@sidebarColor: hsl(220, 50%, 25%);
@stripedTableColor: #ccc;

@anchorColor: hsl(300, 100%, 25%);
@anchorHoverColor: hsl(300, 100%, 55%);
@anchorVisitedColor: grey;

@codeBackgroundColor: ;

@import '_styles';

