@import '_variables';

@fontColor: hsl(240, 50%, 15%);
@backgroundColor: hsl(50, 090%, 50%);

@captionColor: hsl(200, 30%, 40%);
@photoCreditColor: hsl(200, 30%, 40%);
@stripedTableColor: #ccc;
@selectionColor: grey;

@anchorColor: hsl(300, 100%, 25%);
@anchorHoverColor: hsl(300, 100%, 55%);
@anchorVisitedColor: grey;

@codeBackgroundColor: white;

// pigeon specific

@pullquoteColor: hsl(240, 100%, 40%);

@import '_styles';

.sidebar {
  color: hsl(220, 50%, 25%);
}

