@import '_variables';

@fontColor: hsl(240, 50%, 15%);
@backgroundColor: hsl(50, 090%, 50%);

@captionColor: hsl(200, 30%, 40%);
@photoCreditColor: hsl(200, 30%, 40%);
@stripedTableColor: hsl(0, 0%, 80%);
@selectionColor: grey;

@anchorColor: hsl(200, 100%, 25%);
@anchorHoverColor: hsl(220, 20%, 25%);
@anchorVisitedColor: grey;

@codeBackgroundColor: white;

// pigeon specific

@pullquoteColor: hsl(220, 50%, 25%);

@import '_styles';

.sidebar {
  color: hsl(220, 50%, 25%);
}

