@import '../basic/_variables.less';

@headerFont: "kon-tiki-aloha-jf", Georgia, Times, "Times New Roman", serif;
@bodyFont: "filson-soft", Helvetica, Arial, sans-serif; 
@lineHeight: 1.4;
@headerFont: Oswald, sans-serif;
@bodyFont: sans-serif;

@headerFontColor: hsl(300, 100%, 10%);
@bodyFontColor: hsl(300, 0%, 10%);
@bodyBackgroundColor: hsla(30, 80%, 50%, 1); 

@photoCreditColor: hsl(350, 100%, 40%);
@captionColor: hsl(350, 100%, 40%);

@anchorColor: hsl(0, 100%, 25%);
@anchorHoverColor: hsl(0, 100%, 55%);
@anchorVisitedColor: grey;

