@import '../basic/_variables.less';

@headerFont: "alternate-gothic-no-1-d", Helvetica, Arial, sans-serif; 
@bodyFont: "ff-tisa-web-pro", Times, serif;
@lineHeight: 1.4;

@headerFontColor: hsl(300, 100%, 10%);
@bodyFontColor: hsl(300, 0%, 10%);
@bodyBackgroundColor: hsla(30, 80%, 50%, 1); 

@photoCreditColor: hsl(350, 100%, 40%);
@captionColor: hsl(350, 100%, 40%);

@anchorColor: hsl(0, 100%, 25%);
@anchorHoverColor: hsl(0, 100%, 55%);
@anchorVisitedColor: grey;

@import '_styles.less';

