
@import '_variables';

@fontColor: hsl(300, 0%, 10%);
@backgroundColor: hsl(0, 90%, 70%); 

@captionColor: hsl(350, 100%, 40%);
@photoCreditColor: hsl(350, 100%, 40%);
@stripedTableColor: hsl(30, 90%, 40%);
@selectionColor: yellow;

@anchorColor: hsl(0, 100%, 25%);
@anchorHoverColor: hsl(0, 100%, 55%);
@anchorVisitedColor: grey;

@codeBackgroundColor: white;

// toucan

@headerFontColor: hsl(300, 100%, 10%);

@import '_styles';


// the toucan beak

h1.hed {
  padding: .2em;
  padding-right: 1em;
  font-weight: initial;
  border-radius: .2em 2em .2em .5em;
  line-height: 1.2;
  background-image: linear-gradient(120deg, 
    hsl( 35, 80%, 50%), 
    hsl( 40, 80%, 50%), 
    hsl( 30, 80%, 50%), 
    hsl(360, 100%, 40%)
  );
}

a {
  background: -webkit-linear-gradient(
    hsl(360, 85%, 40%), 
    hsl(360, 85%, 20%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  color: white;
}

