@import '../basic/_variables';

@font: "adobe-caslon-pro", Georgia, Times, "Times New Roman", serif;
@textWidth: 25rem;
@dekSize: 2em;

@headerFont: "essonnes-headline", Georgia, Times, "Times New Roman", serif; 

