@import "_variables";

@fontColor:  hsl(40, 70%, 10%);
@backgroundColor: hsl(50, 100%, 70%);

// fixme
@captionColor: ;
// fixme
@photoCreditColor: ;
// fixme
@stripedTableColor: #ccc;
// fixme
@selectionColor: ;

// fixme
@anchorColor: ;
// fixme
@anchorHoverColor: ;
// fixme
@anchorVisitedColor: ;

// fixme
@codeBackgroundColor: ;



// owl 

// fixme no alpha please
@quotemarkColor: hsla(190, 100%, 50%, .2);

@import "_styles";

