@import "_variables";

@bodyFontColor:  hsl(240, 70%, 10%);
@headerFontColor: hsl(240, 80%, 10%);
@bodyBackgroundColor: hsla(130, 010%, 40%, .7);

//@captionColor: ;
//@photoCreditColor: ;
@sidebarColor:hsl(240, 50%, 10%);
//@stripedTableColor: ;

@anchorColor: hsla(260, 100%, 25%, 1);
@anchorHoverColor: hsla(260, 100%, 35%, 1); 
//@anchorVisitedColor: ;

//@codeBackgroundColor: ;


// owl specific

@quotemarkColor: hsla(190, 100%, 50%, .2);

@import "_styles";

