@import "_variables";

@fontColor:  hsl(240, 70%, 10%);
// fixme no alpha please
@backgroundColor: hsla(130, 10%, 40%, .7);

// fixme
@captionColor: ;
// fixme
@photoCreditColor: ;
// fixme
@stripedTableColor: #ccc;
// fixme
@selectionColor: ;

// fixme
@anchorColor: hsl(260, 100%, 25%);
// fixme too similar
@anchorHoverColor: hsl(260, 100%, 35%); 
// fixme
@anchorVisitedColor: ;

// fixme
@codeBackgroundColor: ;


// owl 

// fixme no alpha please
@quotemarkColor: hsla(190, 100%, 50%, .2);

@import "_styles";

.dropcap {
  color: hsl(0, 0%, 90%);
}

