@import "_variables";

@fontColor:  hsl(30, 100%, 20%);
// fixme alpha -- also this doesn't have enough contrast with text
@backgroundColor: hsla(30, 040%, 50%, .8);

// fixme
@captionColor: ;
// fixme
@photoCreditColor: ;
// fixme
@stripedTableColor: #ccc;
// fixme
@selectionColor: ;

@anchorColor: hsl(40, 70%, 75%);
@anchorHoverColor: hsl(40, 70%, 95%);
// fixme
@anchorVisitedColor: ;

// fixme
@codeBackgroundColor: ;


// owl

// fixme no alpha please
@quotemarkColor: hsla(190, 100%, 50%, .2);



@import "_styles";

h1, h2, h3, h4, h5, h6, .dropcap {
  color: hsl(40, 70%, 10%);
}

