@import "_variables";

@bodyFontColor:  hsl(30, 100%, 20%);
@headerFontColor: hsl(40, 70%, 10%);
@bodyBackgroundColor: hsla(30, 040%, 50%, .8);

//@captionColor: ;
//@photoCreditColor: ;
@sidebarColor:hsl(240, 50%, 10%);

//@stripedTableColor: ;

@anchorColor: hsla(040, 070%, 75%, 1);
@anchorHoverColor: hsla(040, 070%, 95%, 1);
//@anchorVisitedColor: ;


//@codeBackgroundColor: ;


@import "_styles";


