
// fonts
@headerFont: ; 
@bodyFont: ;

// dimensions
@textWidth: 34rem;
@lineHeight: 1.2;
@floatBreak: ~'(min-width:' (@textWidth * 2) ~')';

// colors
@bodyFontColor: ;
@bodyBackgroundColor: ;
@headerFontColor: ;

@photoCreditColor: ;
@captionColor: ;
@sidebarColor: ;

@stripedTableColor: #ccc;

@anchorColor: ;
@anchorHoverColor: ;
@anchorVisitedColor: ;

@codeBackgroundColor: ;

