
// fonts
@headerFont: ; 
@bodyFont: ;


// dimensions
@textWidth: 30rem;
@lineHeight: 1.2;
@floatBreak: ~'(min-width:' (@textWidth * 2) ~')';

// colors
@headerFontColor: ;
@bodyFontColor: ;
@bodyBackgroundColor: ;
@photoCreditColor: ;
@captionColor: ;
@stripedTableColor: #ccc;
@linedTableColor: black;
@codeBackgroundColor: ;

// link colors
@anchorColor: ;
@anchorHoverColor: ;
@anchorVisitedColor: ;

