
@font: ;

// dimensions
@textWidth: 34rem;
@lineHeight: 1.2;
@floatBreak: ~'(min-width:' (@textWidth * 2) ~')';

// colors
@fontColor: ;
@backgroundColor: ;

@captionColor: ;
@photoCreditColor: ;
@stripedTableColor: #ccc;
@selectionColor: ;

@anchorColor: ;
@anchorHoverColor: ;
@anchorVisitedColor: ;

@codeBackgroundColor: ;

