
@headerFont: "Helvetica Neue", Helvetica, Arial, sans-serif; 
@bodyFont: Georgia, Times, "Times New Roman", serif;
@bodyFontColor: black;
@bodyBackgroundColor: white;

@columnTextWidth: 33.333em;

/* header elements */ 

@photoCreditColor: grey;

@captionColor: grey;
@captionSize: .9em;

/* link anchor */

@anchorColor: red;
@anchorHoverColor: green;
@anchorVisitedColor: grey;

/* blockquote  */

@blockquoteFontStyle: italic;
@blockquoteBorderLeft: 2px solid grey;
@blockquoteColor: black;

/* sidebar  */

@sidebarFont: @headerFont; 
@sidebarBorder: 0.125em solid grey;
@sidebarColor: @bodyFontColor;
@sidebarBackgroundColor: ;


/* drop-cap  */

@drop-capFont: @bodyFont;
@drop-capFontColor: @bodyFontColor;
@drop-capBackgroundColor: ;


/*   */

