
@import '../basic/_variables.less';

@textWidth: 35rem;
@lineHeight: 1.5;

@headerFont: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; 
@bodyFont: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; 

@bodyFontColor: hsl(210, 20%, 30%);
@bodyBackgroundColor: hsl(000, 00%, 95%);

@photoCreditColor: hsl(220, 90%, 20%);
@captionColor: hsl(220, 90%, 20%);

@anchorColor: hsl(90, 10%, 50%);
@anchorHoverColor: hsl(20, 90%, 50%);
@anchorVisitedColor: ;


// heron specific:

@blockquoteBackgroundColor: teal;
@pullQuoteColor: hsl(240, 90%, 25%);
@sidebarColor: ;
@sidebarBackgroundColor: hsla(240, 05%, 50%, 1);

