@import "_variables.less";

@bodyFontColor:  black;
@headerFontColor: hsl(40, 90%, 90%);
@bodyBackgroundColor: hsla(0, 090%, 50%, .40);

@anchorColor: hsla(040, 070%, 75%, 1);
@anchorHoverColor: hsla(040, 070%, 95%, 1);

@dropCapFontColor: hsla(040, 070%, 95%, 1);

@sidebarColor: white;
@sidebarBackgroundColor: crimson;

@blockquoteFontStyle: normal;
@blockquoteBorderLeft: 6px groove yellow;
@blockquoteColor: yellow;
@blockquoteBackgroundColor: ;

@pullQuoteColor: hsl(360, 85%, 90%);


@import "_override.less";


