@import "_variables";

//color
@bodyFontColor:  black;
@headerFontColor: hsl(40, 90%, 90%);
@bodyBackgroundColor: hsla(0, 090%, 50%, .40);

//@photoCreditColor: ;
//@captionColor: ;
//@sidebarColor: ;

@stripedTableColor: #ccc;

@photoCreditColor: hsl(220, 90%, 20%);
@captionColor: hsl(220, 90%, 20%);

@anchorColor: hsl(60, 90%, 50%);
@anchorHoverColor: hsl(20, 90%, 50%);
//@anchorVisitedColor: ;

//@codeBackgroundColor: ;


// heron specific
@pullQuoteColor: hsl(240, 90%, 25%);

@sidebarBackgroundColor: hsla(240, 15%, 50%, 1);

@import "_styles";

