
@import '../basic/_variables.less';

@headerFont: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; 
@bodyFont: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; 


@bodyFontColor: hsl(0, 10%, 90%);
@bodyBackgroundColor: hsl(175, 40%, 45%);

/* header elements */ 

@photoCreditColor: hsl(220, 90%, 20%);
@captionColor: hsl(220, 90%, 20%);
@captionSize: .9em;

/* link anchor */

@anchorColor: hsl(60, 90%, 50%);
@anchorHoverColor: hsl(20, 90%, 50%);
@anchorVisitedColor: ;

/* pullquote */

@pullQuoteColor: hsl(240, 90%, 25%);
@pullQuoteFont: ; 
@pullQuoteStyle: ;
@pullQuoteWeight: ;
@pullQuoteFontSize: 1.4em;
@pullQuoteMargin: .3em auto ;


/* blockquote  */

@blockquoteFontStyle: normal;
@blockquoteBorderLeft: .5em groove hsl(175, 60%, 40%);
@blockquoteColor: hsl(340, 20%, 10%);
@blockquoteBackgroundColor: teal;

/* sidebar  */

@sidebarFont: @bodyFont; 
@sidebarColor: ;
@sidebarBackgroundColor: hsla(240, 15%, 50%, 1);

/* dropcap  */

@dropCapFont: ;
@dropCapFontColor: hsl(0, 0%, 90%);
@dropCapBackgroundColor: linear-gradient(to left, 
    hsla(30, 90%, 50%, 1),
    hsla(30, 60%, 50%, .5));
@dropCapFontSize: 5em;
@dropCapPadding: .1em .05em .1em 0 ;
@dropCapMargin: auto .02em -.1em;

@import "_override.less";

.sidebar {
  margin: 3em 0;
  border-radius: .2em;
  box-shadow: 2px 2px teal;
}

aside.sidebar { 
  .dropcap {
    color: @bodyBackgroundColor;
  }
}
aside.sidebar { 
  p {
    color: ;
    text-align: left; 
  }
}

aside.sidebar { 
  h1,h2,h3,h4,h5,h6 {
    color: crimson;
    text-align: left; 
  }
}

