@import '_variables';

@fontColor: hsl(0, 10%, 90%);
@backgroundColor: hsl(175, 40%, 45%);

@captionColor: hsl(220, 90%, 20%);
@photoCreditColor: hsl(220, 90%, 20%);
@stripedTableColor: hsl(175, 80%, 40%);
@selectionColor: hsl(220, 80%, 30%);

@anchorColor: hsl(60, 90%, 50%);
@anchorHoverColor: hsl(20, 90%, 50%);
@anchorVisitedColor: hsl(205, 40%, 45%);

@codeBackgroundColor: hsl(0, 0%, 90%) ;


// heron

@headerFontColor: ;
@headerTextShadow: hsla(340, 60%, 45%, .2);

@pullQuoteColor: hsl(240, 90%, 25%);

// placeholder overridden below styles
@blockquoteBackgroundColor: hsl(0, 0%, 0%);

@sidebarBackgroundColor: linear-gradient(to right,
  hsla(240, 90%, 50%, .1),
  hsla(210, 100%, 50%, .4)
);

@anchorUnderlineColor: hsl(60, 90%, 50%);
@achorHoverBackgroundColor: hsl(60, 90%, 50%);

@import "_styles";

blockquote {
  color: hsl(0, 10%, 90%);
  background-color: hsl(175, 40%, 45%);
  border-left: .5em groove hsl(225, 60%, 50%);
}

a:visited {
  border-bottom: hsl(205, 40%, 45%);
}

code {
  color: hsl(0, 0%, 0%);
}
