@import "_variables";

@fontColor:  hsl(125, 000%, 20%);
@backgroundColor: hsl(55, 100%, 70%); 

@captionColor: hsl(25, 95%, 30%);
@photoCreditColor: hsl(25, 95%, 30%);
@stripedTableColor: hsl(25, 55%, 60%);
@selectionColor: hsl(15, 90%, 50%);

@anchorColor: hsl(15, 90%, 45%);
@anchorHoverColor: hsl(40, 70%, 95%);
//overriden below styles
@anchorVisitedColor: hsl(0, 0%, 0%);

@codeBackgroundColor: hsl(0, 0%, 95%);

// heron

@headerFontColor: hsl(125, 000%, 20%);
@headerTextShadow: hsl(340, 40%, 75%);

@pullQuoteColor: hsl(340, 100%, 35%);

@blockquoteBackgroundColor: teal;

@sidebarBackgroundColor: linear-gradient(to right,
  hsl(40, 70%, 70%),
  hsl(00, 70%, 70%)
);

//overriden
@anchorUnderlineColor: hsl(60, 90%, 50%);
@achorHoverBackgroundColor: hsl(60, 90%, 50%);

@import "_styles";

a {
  border-bottom: 1px solid hsl(15, 90%, 45%);
}

a:hover {
  background: hsl(15, 90%, 45%);
}

a:visited {
  color: hsl(0, 0%, 5%);
  background-color: hsl(0, 0%, 5%);
  border-bottom: 1px solid hsl(0, 0%, 5%);
}

blockquote {
  color: hsl(0, 10%, 20%);
  background-color: hsl(55, 100%, 70%);
  border-left: .5em groove hsl(55, 100%, 70%);
}
