@import "_variables";

@bodyFontColor:  hsl(125, 000%, 20%);
@headerFontColor: hsl(125, 000%, 20%);
@bodyBackgroundColor: hsla(55, 100%, 70%, .9); 

@anchorColor: hsla(040, 070%, 75%, 1);
@anchorHoverColor: hsla(040, 070%, 95%, 1);

@dropCapFontColor: hsla(040, 070%, 95%, 1);
@dropCapBackgroundColor: linear-gradient(to left, 
    hsla(060, 90%, 50%, 1),
    hsla(40, 60%, 50%, .5)); 


@sidebarColor: black;
@sidebarBackgroundColor: white;

@blockquoteFontStyle: normal;
@blockquoteBorderLeft: 6px solid hsl(290, 80%, 00%);
@blockquoteColor: hsl(290, 50%, 10%);
@blockquoteBackgroundColor: yellow;

@pullQuoteColor: hsl(360, 85%, 00%);

@import "_styles";

