@import "_variables";

// colors
@bodyFontColor:  hsl(125, 000%, 20%);
@headerFontColor: hsl(125, 000%, 20%);
@bodyBackgroundColor: hsla(55, 100%, 70%, .9); 

//@photoCreditColor: ;
//@captionColor: ;
//@sidebarColor: ;

@stripedTableColor: #ccc;

@anchorColor: hsla(040, 070%, 75%, 1);
@anchorHoverColor: hsla(040, 070%, 95%, 1);
@anchorVisitedColor: ;

//@codeBackgroundColor: ;


@import "_styles";


