
@import "../lib/index.less";
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400';


body {
 line-height: 1.8;
}

p {
  line-height: 2.5;
  letter-spacing: 3;
  font-family: "lato";
  font-weight: 300;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-size: 3.5em; 
  text-shadow: .06em -.01em 0 hsla(340, 60%, 45%, .2);
}

.sidebar {
  background: hsla(240, 15%, 50%, 1); 
  color: white;
  font-size: 1.0em;
  box-shadow: 0 0 .2em white;
  border: grey;
}

//blockquote font weight looks great in 600 as well

blockquote {
  background-color: teal;
  font-weight: 300;
}
//background image first opacity to one alsolooks favorable 
.drop-cap {
  border-radius: .2em;
  color: white;
  background-image: linear-gradient(to left, 
    hsla(30, 90%, 50%, 1),
    hsla(30, 60%, 50%, .5),
  );
  font-weight: 300;
  padding: 0.5em;
  text-shadow: 1px 1px 30px red;
  margin: 0 0.2em; 
}

.pull-quote {
  padding-left: .2em;
  font-style: ;
  font-weight: 300;
  color: hsl(240, 90%, 25%);
  clear: both;
  transform: scale(1,1.05);
}

a {
  border-style: ;
  border-bottom: .01em solid hsl(60,90%,50%);
  padding-bottom: .39em;
  font-weight: 300;
}



::selection {
  background-color: hsl(320, 80%, 50%);
}

