@import '../lib/index';

html {
  @media @mobile { font-size: 15px; }
  @media @tablet { font-size: 16px; }
  @media @laptop { font-size: 18px; }
  @media @desktop { font-size: 20px; }
}

h1.hed {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  width: @textWidth;
  max-width: 100%;
  font-family: @headerFont;
  color: @headerFontColor;  
}

p {
  line-height: 1.4;
}

p.dek {
  font-family: @headerFont;
  font-weight: 200;
}

.intro {
  width: (@textWidth * .8);
  max-width: 100%;
  font-family: @headerFont;
}

@supports (hyphens: auto) {
  .intro {
    text-align: justify;
    hyphens: auto;
  }
}

.byline {
  font-family: @headerFont;
  font-weight: 200;
}

.byline:before { 
  content: "By "; 
}


time.pubdate {
  font-family: @headerFont;
  font-weight: 200;
}

.subhed {
  max-width: @textWidth;
  margin: 3rem auto 1rem;
  font-size: 1em;
  font-weight: bold;
}

code {
  color: hsl(240, 50%, 10%);
  background-color: white;
}

blockquote {
  max-width: @textWidth;
  padding-left: 1rem;
  border-left: @blockquoteBorderLeft;
  text-indent: 1.5em;
  margin: 1rem auto;
  // prevent margin collapse:
  overflow: hidden;
}


// dropcap
.dropcap {
  font-family: @headerFont;
  font-size: 4.6rem;
  padding-right: 0.3rem;
  line-height: .75;
  color: @dropCapFontColor; 
}

.dropcap.short {
  font-size: 3rem;
}

.dropcap.tall {
  font-size: 8rem;
}

.dropcap.padded {
  font-size: 3em;
  padding: 0.1em 15% 15% 0.1em;  
}

@media (min-width: (@textWidth * 1.2)) {
  .dropcap.pull-left { 
    margin-left: -2rem;
  }
}

aside.editors-note {
  font-style: italic;
  margin: 1rem auto;
}

// pullquote
aside.pullquote {
  max-width: @textWidth;
  margin: 1rem auto;
  font-size: 1.5em;
  line-height: 1.5;
  color: @pullQuoteColor;
}

aside.pullquote .attribution {
  font-family: @headerFont;
}

aside.pullquote .attribution:before {
  content: "\2014";
}

aside.sidebar { 
  max-width: @textWidth;
  margin: 1rem auto;
  padding: 0 0.8em;
  color: @sidebarColor;
}

aside.sidebar p {
  mix-blend-mode: exclusion ;
  margin: 1.5em 0;
}

aside.sidebar { 
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
  }
}

// text on an image
figure.dark-text {
  color: red;
}


@media @floatBreak {

  aside.pullquote.left,
  aside.sidebar.left {
    float: left;
    clear: both;
    margin-right: 1rem;
  }

  aside.pullquote.right,
  aside.sidebar.right {
    float: right;
    clear: both;
    margin-left: 1rem;
  }

  aside.pullquote.right,
  aside.pullquote.left {
    @oneThirdLine: (@lineHeight / 3) ;
    margin-top: ~'@{oneThirdLine}rem';
  }

  aside.sidebar.right,
  aside.sidebar.left {
    margin-top: 0;
  }

}


ul, ol {
  margin: 1rem auto;
}

li {
  margin: .5rem 0;
}


