@import '../basic/_variables';

@bodyFont: "serenity", Helvetica, Arial, sans-serif; 
@headerFont: "korolev-condenced", Helvetica, Arial, sans-serif; 

// dimensions
@textWidth: 30rem;
@lineHeight: 1.2;
@floatBreak: ~'(min-width:' (@textWidth * 2) ~')';

// colors
@bodyFontColor: hsl(0, 10%, 90%);
@bodyBackgroundColor: hsl(240, 50%, 10%);

@headerFontColor: ; 
@photoCreditColor: grey;
@captionColor: grey;

@stripedTableColor: #ccc;

@anchorColor: hsl(0, 100%, 25%);
@anchorHoverColor: hsl(0, 100%, 55%);
@anchorVisitedColor: grey;

//@codeBackgroundColor: ;


//raven exclusive
@sidebarBackgroundColor: hsla(360, 100%, 5%, 1);

