@import "_variables";

//colors
@bodyFontColor: hsl(0, 10%, 90%);
@bodyBackgroundColor: hsla(360, 100%, 2%, 1);

//@headerFontColor: ; 
@photoCreditColor: grey;
@captionColor: grey;

@stripedTableColor: #ccc;

@anchorColor: hsla(040, 070%, 75%, 1);
@anchorHoverColor: hsla(040, 070%, 95%, 1);
@anchorVisitedColor: grey;


//raven specific 

@dropCapFontColor: hsla(040, 070%, 45%, 1);

@import "_styles";

