
@import '../basic/variables.less';

@headerFont: "essonnes-display", Georgia, Times, "Times New Roman"
  , serif; 
@bodyFont: "ratio", Helvetica, Arial, sans-serif;

@bodyFontColor: hsl(0, 10%, 90%);
@bodyBackgroundColor: hsl(240, 50%, 10%);

/* header elements */ 

@photoCreditColor: grey;
@captionColor: grey;
@captionSize: .9em;

/* link anchor */

@anchorColor: hsl(0, 100%, 25%);
@anchorHoverColor: hsl(0, 100%, 55%);
@anchorVisitedColor: grey;

/* pull-quote */

@pullQuoteFont: "essonnes-display"; 
@pullQuoteStyle: italic;
@pullQuoteWeight: 500;
@pullQuoteFontSize: 1.4em;
@pullQuoteMargin: .3em auto ;


/* blockquote  */

@blockquoteFontStyle: normal;
@blockquoteBorderLeft: 10px solid hsl(0, 80%, 90%);
@blockquoteColor: hsl(0, 0%, 90%);

/* sidebar  */

@sidebarFont: @headerFont; 
@sidebarBorder: 0.125em solid grey;
@sidebarColor: hsl(240, 50%, 10%);
@sidebarBackgroundColor: ;

/* drop-cap  */

@dropCapFont: "essonnes-display";
@dropCapFontColor: hsl(0, 0%, 90%);
@dropCapBackgroundColor: ;
@dropCapFontSize: 5em;
@dropCapPadding: .1em .05em .1em 0 ;
@dropCapMargin: auto .02em -.1em;

/*   */

